---
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
---

<main>
	<h1 class="text-2xl font-bold">First Render of Daily Budget using Astro!</h1>
	<img
		src={astroLogo.src}
		alt="Astro Logo"
		width="200"
		height="200"
	/>
</main>